# This is a placeholder file for protecting Flynn's API key usage
# Copy this file and rename it to .env, then fill in your own API key
# Get your free TMDB API key at: https://www.themoviedb.org/settings/api

TMDB_API_KEY=your_tmdb_api_key_here

# Link for Reddit's Rotten Tomatoes zip file Link
RT_ZIP_URL=https://drive.google.com/file/d/12IpMErb4j83h5gGTdTpv0WZOf5ceY7b3/view?usp=sharing